<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="/dashboard">Inicio</a></li>
      <li><a (click)="navigateToChildrens('clients')">Clientes</a></li>
      <li><a (click)="navigateToChildrens('services')">Servicios</a></li>
      <li><a (click)="navigateToChildrens('appointments')">Empleados</a></li>
      <li><a (click)="navigateToChildrens('inventory')">Inventario</a></li>
      <li><a (click)="navigateToChildrens('financial')">Finanzas</a></li>
    </ul>
  </nav>
    
  <hr>
  <div class="aside-close-session">
    <button> <img src="images/close-session-icon.svg" alt="Cerrar sesion icon"> Cerrar sesion</button>
  </div>
</aside>
