aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
  background: #e5edf1;
  padding: 10px 0;
}
.navbar {
  width: 100%;
}
.logo {
  text-align: center;
  width: 100%;
}

.aside-close-session {
  width: 100%;
  font-size: larger;
  align-self: center;
}

.aside-close-session img {
  width: 20px;
}

.aside-close-session button {
  font-size: large;
  color: #37474f;
  padding: 16px;
  border: none;
  outline: none;
  background-color: #e5edf1;
}

.aside-close-session button:hover {
  color: #37474f;
  cursor: pointer;
}
