<div class="login-page">
  <div class="left-site">
    <h2>Acceder</h2>
    <form [formGroup]="loginFormGroup">
      <input
        matInput
        type="email"
        placeholder="Correo"
        formControlName="email"
        name="email"
        required
      />

      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
        name="password"
      />
      <button mat-raised-button color="primary" (click)="onLogin()">
        Acceder
      </button>
      <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
    </form>
  </div>
  <div class="right-site">
    <div class="top-rigth-site">
      <h3>Hirify</h3>
      <p><a href="/home">Volver al Web site</a></p>
    </div>
    <div class="img-login">
      <img
        src="images/finance-svg.svg"
        alt="svg relacionado con la parte de finanzas"
      />
    </div>
  </div>
</div>
