<div class="content-heading">
  <h3>Servicios</h3>
  <app-add-button
    (click)="openFormModal(formTemplate)"
    page="{{ page }}"
  ></app-add-button>
</div>

<div class="charts">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name  Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duracion</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="openFormModal(formTemplate, element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteService(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>

<app-modal #modal></app-modal>

<ng-template #formTemplate>
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del servicio</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Ej: Corte de cabello"
      />
      <mat-error *ngIf="serviceForm.get('name')?.hasError('required')">
        El nombre es obligatorio.
      </mat-error>
      <mat-error *ngIf="serviceForm.get('name')?.hasError('minlength')">
        El nombre debe tener al menos 3 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Duración</mat-label>
      <input matInput formControlName="duration" placeholder="Ej: 20min" />
      <mat-error *ngIf="serviceForm.get('duration')?.hasError('required')">
        La duración es obligatoria.
      </mat-error>
      <mat-error *ngIf="serviceForm.get('duration')?.hasError('pattern')">
        Formato inválido (Ej: 20min).
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Precio</mat-label>
      <input
        matInput
        type="number"
        formControlName="price"
        placeholder="Ej: 500"
      />
      <mat-error *ngIf="serviceForm.get('price')?.hasError('required')">
        El precio es obligatorio.
      </mat-error>
      <mat-error *ngIf="serviceForm.get('price')?.hasError('min')">
        El precio debe ser mayor a 0.
      </mat-error>
    </mat-form-field>

  </form>
  <app-add-button
    (click)="onSubmit()"
    page="{{ page }}"
    [action]="editingService ? 'Editar' : 'Agregar'"
  >
  </app-add-button>
</ng-template>
