.content-heading {
  /* align-self: flex-start; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.calendar-container {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

button {
  margin-top: 10px;
}

input {
  /* width: 100%; */
  padding: .8rem;
  outline: auto;
}